body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #612727;
}

.login-container {
    width: 300px;
    background-color: #fff;
    padding: 20px 30px 20px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(52, 70, 109);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group button {
    width: calc(100% - 10px); 
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    white-space: nowrap; /* Prevent line break */
}

.remember-me input[type="checkbox"] {
    margin-right: 5px;
}

.forget-password a {
    color: #007bff;
    text-decoration: none;
}

.forget-password a:hover {
    text-decoration: underline;
}

.input-group button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.input-group button:hover {
    background-color: #0056b3;
}

.additional-options {
    margin-top: 15px;
    text-align: center;
}

.additional-options a {
    color: #007bff;
    text-decoration: none;
}

.additional-options a:hover {
    text-decoration: underline;
}
